
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-content h1 {
font-family: "Qwitcher Grypen", cursive;
font-size: 90px;
font-weight: 500;
display: flex;
}

 .hero-content h2 {  
    font-family: "Playfair Display", sans-serif;
    font-size: 37px;
    font-weight: 400;
    margin: 20px 0;  
}

.hero-content p {
    font-family: "Playfair Display", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto; 
    height: auto;
}

.hero-content {
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-25%, -30%);
  padding: 30px;
  max-height: 488px;
}

.hero-img-container {
  transform: translate(-25%, 5%);
}

.hero-img-container img {
    background-image: url(/src/images/Me.png);
    min-width: 663px;
    min-height: 895px;
    background-repeat: no-repeat;
}

.icon-title {
    font-family: "Playfair Display", sans-serif;
    font-size: 40px;
    font-weight: 400;
    display: flex;
    text-align: left;
}

.tech-icon {
  font-size: 45px;
  display: flex;
  gap: 5rem;
  flex-direction: row;
  align-items: center;
  margin: 6rem;
  
}

.tech-icon > div {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.tech-icon > div > img {
  width: 45rem;
  transition: all 0.3 ease;
}
.hero-icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  border-radius: 0.4rem;
  border: 1.5px solid #000;
}

.hero-icon {
  width: 3rem;
  height: auto;
  transition: all 0.3 ease;
}

.hero-icon:hover {
  transform: translateY(-0.5rem);
}

@media (max-width: 1025px) {
  .hero-content h1 {
    font-size: 70px;
  }

  .hero-content h2 {
    font-size: 25px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-img-container > div > img {
    width: 15rem;
  }

  .hero-container {
    display: block;
}
}