.about_section {
    background: #fff; /* Темний градієнт */
    color: #212121;
    padding: 50px 20px;
    font-family: 'Roboto', sans-serif;
}

.about_container {
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.about_title {
    font-size: 36px;
    font-weight: bold;
    color: #212121;
    margin-bottom: 20px;
}

.about_subtitle {
    font-size: 24px;
    font-weight: 500;
    color: #212121;
    margin-bottom: 30px;
}

.about_text {
    font-size: 16px;
    color: #222020;
    margin-bottom: 40px;
}

.card_section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: linear-gradient(90deg, #e372e9 0%, #d2c3d0 100%); /* Темний, об’ємний стиль */
    border-radius: 16px;
    padding: 20px;
    width: 100%;
    max-width: 280px;
    color: #e4e4e4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card h4 {
    font-size: 20px;
    color: #9a1191;
}

.card p {
    font-size: 14px;
    color: #540450;
    text-align: center;
}

.current_read .book_image img {
    width: 80% !important; /* Зменшує розмір і пріоритетно застосовує стиль */
    height: auto !important; /* Зберігає пропорції */
    border-radius: 8px; /* Згладжені кути */
    margin: 0 auto; /* Центрує */
    display: block; /* Робить зображення блоковим */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Додає естетичну тінь */
}


.tech_stack_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.tech_stack_icons svg {
    font-size: 32px;
    color: #430133;
}

.persona_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.persona_tags span {
    background-color: #430133;
    color: #ffffff;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

