.contact_container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}
.section_title {
    font-size: 29px;
justify-content: center;
display: flex;
margin-bottom: 1rem;
}
.section_subtitle {
justify-content: center;
display: flex;
margin-bottom: 3rem;
}
.contact-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 1.5rem;
}
.contact-info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}
.contact-card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}
.contact-card-icon {
    color: #575965;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.contact-card-title,
.contact-card-data {
font-size: 17px;
}
.contact-card-title {
    font-size: 15px;
}
.contact-card-data {
    display: block;
    margin-bottom: 0.5rem;
}
.contact-button {
    color: #575965;
    font-size: 15px;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    column-gap: 0.25rem;
}
.contact-button-icon {
    font-size: small;
    transition: 0.3s;
}

.contact-form {
width: 360px;
}